.sub_navigation
  %ul
    = sub_navigation_li_link_to 'Overview',         domain_path(domain)
    = sub_navigation_li_link_to 'Categories',       domain_categories_path(domain)
    = sub_navigation_li_link_to 'DNS Information',  domain_dns_information_path(domain)
