.container_12
  .grid_12
    %ul
      = navigation_li_link_to('Dashboard',  root_path)
      = navigation_li_link_to('Domains',    domains_path)
      = navigation_li_link_to('Categories', categories_path)
  .clear
