- page_heading 'Domains'

.grid_3
  %ul
    %li
      All Domains

.grid_3.prefix_6
  = link_to('Add a Domain', new_domain_path, :class => 'add button')

.grid_9

  - @domains.each do |domain|
    .individual_domain
      = link_to h(domain.name), domain
.clear
