- page_heading 'Domains'

.grid_3
  %ul
    %li
      All Domains

.grid_9
  %p
    = link_to 'New Domain', new_domain_path

  - @domains.each do |domain|
    = link_to h(domain.name), domain
    %br/
.clear
