- page_heading @domain.name

- if @domain.idn?
  %p
    This is an international domain name, the real domain is:
    = h @domain.ascii_name

- @domain.events.recent.each do |event|
  = render_event(event)

%p
  Added to your account at: #{@domain.created_at}

%p
  = link_to 'Delete Domain', domain_path(@domain), {:class => 'delete', :method => :delete, :confirm => 'Are you sure?'}
