- page_heading 'Change Password'

.grid_8{:class => 'prefix_2 suffix_2'}
  - semantic_form_for :user, :url => account_settings_password_path, :html => { :method => :put } do |form|
    - form.inputs do
      = form.input :password
      = form.input :password_confirmation
    - form.buttons do
      = form.commit_button 'Update'
