- page_heading 'Dashboard'

.grid_8
  %h3
    Recent Activity
  %p
    This is the dashboard
  %p
    This is the dashboard
  %p
    This is the dashboard
  %p
    This is the dashboard
  %p
    This is the dashboard
  %p
    This is the dashboard

.grid_2
  .domain_summary
    %h3
      Domains
    Number of domain
.grid_2
  .category_summary
    %h3
      Categories
    Number of categories
.grid_4
  .analytics_summary
    %h3
      Analytics Overview
    < graph here >
.clear
