- page_heading 'Dashboard'

.grid_8
  %h3
    Recent Activity

.grid_4
  .domain_summary
    %h3
      Domains
    = @number_of_domains
  .category_summary
    %h3
      Categories
    = @number_of_categories
  .analytics_summary
    %h3
      Analytics Overview
    < graph here >
.clear
